<!doctype html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="~{module/head(title = ${site.title})}"> </head>

  <body>
    <header th:replace="~{module/header}"></header>

    <main th:fragment="postList" class="mx-auto max-w-[768px]">
      <div class="flex flex-col gap-5">
        <a
          th:each="post : ${posts.items}"
          th:href="@{${post.status.permalink}}"
          class="index-post-card hover:shadow-card text-black transition duration-300"
        >
          <img
            th:if="${!#strings.isEmpty(post.spec.cover)}"
            th:src="${post.spec.cover}"
            class="cover"
          />

          <div class="post mx-4 my-4 flex flex-col gap-2">
            <div th:text="${post.spec.title}" class="textc-primary font-serif font-semibold text-lg"></div>

            <div
              th:if="${#strings.isEmpty(post.spec.cover)}"
              th:text="${post.status.excerpt != null and #strings.length(post.status.excerpt) > 150} ? ${#strings.substring(post.status.excerpt, 0, 150)} + '...' : ${post.status.excerpt}"
              class="text-sm text-gray"
            ></div>

            <div
              th:if="${!#strings.isEmpty(post.spec.cover)}"
              th:text="${post.status.excerpt != null and #strings.length(post.status.excerpt) > 80} ? ${#strings.substring(post.status.excerpt, 0, 80)} + '...' : ${post.status.excerpt}"
              class="text-sm text-gray"
            ></div>

            <div class="flex items-center justify-between text-xs text-gray">
              <time th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"></time>
            </div>
          </div>
        </a>
      </div>

      <th:block th:replace="~{module/pagination(component=${posts})}"></th:block>
    </main>

    <footer th:replace="~{module/footer}"></footer>
  </body>
</html>
