<!doctype html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="~{module/head(title = ${post.spec.title} + ' | ' + ${site.title})}"></head>

  <body>
    <header th:replace="~{module/header}"></header>

    <article class="mx-auto max-w-[768px] px-4">
      <div class="text-center font-serif text-3xl font-bold my-6" th:text="${post.spec.title}"></div>

      <div class="mb-6 flex flex-wrap justify-center gap-4 text-sm text-gray-600">
        <span>
          <span class="icon-[bx--calendar-alt] iconify-inline"></span>
          <time th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"></time>
        </span>

        <th:block th:if="${#dates.format(post.status.lastModifyTime, 'yyyy-MM-dd')} != ${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}">
          <span>
            <span class="icon-[bx--calendar-check] iconify-inline"></span>
            <time th:text="${#dates.format(post.status.lastModifyTime, 'yyyy-MM-dd')}"></time>
          </span>
        </th:block>

        <span>
          <span class="icon-[uil--chart-line] iconify-inline"></span>
          <span th:text="${post.stats.visit}"></span>
        </span>
      </div>

      <div class="card post-time-tips text-sm text-gray-500 mb-6">
        <span id="post-time-tips-span"></span>
      </div>

      <section>
        <div id="post-content" th:utext="${post.content.content}" class="prose max-w-none"></div>

        <div class="mt-14 text-xs text-gray-500">
          <div th:text="${post.spec.title}" class="font-semibold"></div>
          <div
            th:with="urlStr=${site.url.toString()}"
            th:text="${urlStr.endsWith('/') ? urlStr.substring(0, urlStr.length() - 1) + post.status.permalink : urlStr + post.status.permalink}"
            class="truncate"
          ></div>
          <div class="mt-2">作者：<span th:text="${post.owner.displayName}"></span></div>
        </div>
      </section>

      <div class="mt-16" th:if="${haloCommentEnabled}">
        <halo:comment group="content.halo.run" kind="Post" th:attr="name=${post.metadata.name}" />
      </div>

      <th:block th:if="${theme.config.comment.Artalk.enable}" th:with="server=${theme.config.comment.Artalk.server}, site=${theme.config.comment.Artalk.site}">
        <div id="artalk"></div>
        <link th:href="@{${server} + '/dist/Artalk.css'}" rel="stylesheet" />
        <script th:src="@{${server} + '/dist/Artalk.js'}"></script>
        <script>
          Artalk.init({
            el: "#artalk",
            site: "[[${site}]]",
            server: "[[${server}]]",
          });
        </script>
      </th:block>
    </article>

    <aside>
      <div class="buttons">
        <a class="to-top" href="#"></a>
      </div>
    </aside>

    <footer th:replace="~{module/footer}"></footer>
  </body>
</html>
